#home {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  height: min-content;
  width: auto;
  padding: 10px;
  margin: 20px 0 50px 0;
  background-color: #7c5d50;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 25px;
  color: #d0c5b3;
  font-size: 20px;
}

.navbar a {
  text-decoration: underline;
  color: #d0c5b3;
}

.navbar img {
  height: 30px;
}

.header-images {
  height: 610px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.left-image {
  height: 610px;
  width: 456px;
  border-radius: 20px;
}

.right-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 610px;
  width: min-content;
}

.right-images img {
  height: 300px;
  width: auto;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

.cappuccino-text {
  margin-top: 20px;
}
