@media (max-width: 1200px) {
  .header-images {
    height: 410px;
    width: 100vw;
  }

  .left-image {
    height: 410px;
    width: 256px;
  }

  .right-images {
    height: 410px;
  }

  .right-images img {
    height: 200px;
  }
}

@media (max-width: 950px) {
  .coffee-var-bg {
    padding: 50px 0 50px 0;
  }

  .cappuccino-text {
    margin-bottom: 30px;
  }

  .product {
    padding-right: 60px;
  }

  .bottom-container {
    font-size: 2px;
  }
}
