@media (max-width: 1200px) {
  .header-images {
    height: 410px;
    width: 100vw;
  }

  .left-image {
    height: 410px;
    width: 256px;
  }

  .right-images {
    height: 410px;
  }

  .right-images img {
    height: 200px;
  }
}
